/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
}

/* 
    GENERAL
*/
.container-large {
    max-width: 1000px;
    margin: 0 auto;
}

.container-small {
    max-width: 800px;
    margin: 0 auto;
}

.info-container {
    display: flex;
}

.info-container .small-info {
    width: 35%;
}

.info-container .big-info {
    width: 65%;
}

img {
    max-width: 100%;
}

/* HEADER */
#header-top {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#header-top>nav>ul {
    display: flex;
    list-style: none;

}

#header-top nav ul li {
    display: inline-block;

}

#header-top>.nav-left>ul>li {
    margin-right: 15px;


}

#header-top>.nav-right>ul>li {
    margin-left: 15px;

}

#header-top>.nav-right>ul>li:last-child a {
    background-color: #0061FF;
    color: white;
    border-radius: 2px;

}

#header-top>nav>ul>li>a {
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    color: black;

}

#header-bottom {
    background-color: #B4D0E7;

}

#header-bottom .jumbo-box {
    position: relative;
    top: 100px;
}

#header-bottom .jumbo-box h1 {
    font-size: 3.8rem;
    font-weight: 900;
    margin-bottom: 20px;
}

#header-bottom .jumbo-box .info-container {
    padding: 15px 0;
}

#header-bottom .jumbo-box .small-info {
    padding-bottom: 75px;
}

#header-bottom .jumbo-box .small-info a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    background-color: #0061FF;
    color: white;
    border-radius: 2px;

}

#header-bottom .jumbo-box .small-info>* {
    margin-bottom: 20px;
}






/* MAIN */

main {
    padding-top: 100px;
}

/* FOOTER */


/* DEBUG */

/* .debug header {
    background-color: aqua;
    min-height: 50px;
} */

/* .debug #header-top {
    background-color: red;

}

.debug #header-top>* {
    background-color: lawngreen;

} */

/* .debug #header-bottom {

    min-height: 300px;

} */

/* .debug #header-bottom .jumbo-box {
    background-color: orangered;
    min-height: 300px;

}

.debug .info-container {
    background-color: aqua;
    min-height: 200px;
}

.debug .small-info {
    background-color: forestgreen;
}

.debug .big-info {
    background-color: navajowhite;
} */

.debug main {
    background-color: lightsalmon;
    min-height: 100px;
}

.debug main section {
    border: 2px dashed blueviolet;
}

.debug footer {
    background-color: orchid;
    min-height: 100px;
}